*,
*::before,
*::after{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  color: #fff;
  background-color: #000;
}
.container{
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header{
  background-image: url(../images/headerbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.logo{
  padding-top: 20px;
}
.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
}

.menu__list{
  display: flex;
  margin-top: 25px;
  text-align: right;
  margin-left: auto;
}

.menu__list :hover{
  color: #BDAE82;
}

.menu__item{
  font-size: 20px;
  font-weight: 400; 
  margin-right: 30px;
  text-align: right;
  color: #fff;
}
.header__content{
  padding-top: 250px;
  padding-left: 80px;
  width: 500px;
  height: 330px;
  font-size: 60px;
}

.header__btn{
  font-size: 20px;
  text-align: left;
  padding-right: 20px;
}
.header__text{
  margin-top: 20px;
  line-height: 40px;
  font-size: 20px;
}

.header__btn{
  width: 220px;
  height: 55px;
  margin-top: 20px;
  text-align: center;
  background-color: #BDAE82;
  cursor: pointer;
  color: #000;
}

.header__btn :hover{
   color: #fff;
   background-color: #BDAE82;
}

.language{
  font-size: 20px;
}
.language span{
  color: #BDAE82;
}
.top{
  padding-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #BDAE82;
  margin: 1em 0;
  padding: 0;
}
.skills{
  width: 320;
  height: 240;
  text-align: center;
  margin-right: 40px;
}

.skills__header{
  line-height: 80px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #BDAE82;
  margin: 0 20px;

}
.intro{
  background-color: #000;
}
.skills__content{
  display: flex;
}

.skill__text{
font-size: 18px;
text-align: center;
line-height: 36px;
font-weight: 400;
width: 280;
margin-bottom: 8px;
}
.skill__header{
margin-top: 40px;
padding-bottom: 20px;
font-size: 20px;
}

.portfolio{
  background-color: #000;
}
.portfolio__title{
  padding-top: 100px;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 60px;
  color: #BDAE82;
}
.buttons{
  display: flex;
  margin-top: 60px;
  width: 895px;
  height: 55px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 20px;
  border: 5px;
  cursor: pointer;
  
}

.pf_button{
margin-right: auto;
margin-left: auto;
width: 220px;
height: 55px;
background-color: #000;
border: 1px solid #BDAE82;
font-size: 20px;
color: #BDAE82;
transition: .5s;
cursor: pointer;
}

.buttons :hover{
  background-color: #BDAE82;
  color: #000;

}
.portfolio__items{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
}
.video{
  background-color: #000;
}

.video__header{
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  color: #BDAE82;
  
}

.video__item{
  position: relative;
  z-index: 1;
}
.play__pause{
  position: absolute;
  top: 360%;
  left: 47%;
  z-index: 2;
}

.price{
  background-color: #000;
}

.price__header{
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  color: #BDAE82;
}

.price__list{
  display: flex;
  justify-content: space-between;
}

.variant{
  display: block;
  justify-content: space-between;
  height: 505px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #BDAE82;
}
.price__title{
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  padding-top: 43px; 
  margin-bottom: 20px;
}

.price1{
  text-align: center;
  font-size: 24px;
  color: #BDAE82;
  margin-bottom: 20px;
}
.price__description{
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  line-height: 36px;
}

.order{
 width: 220px;
 height: 55px;
 background-color: #BDAE82;
 color: #000;
 font-size: 20px;
 margin-right: auto;
 margin-left: 120px;
}

.contacts{
  background-color: #000;
  background-image: url(../images/contacts.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  margin-top: 100px;
  background-size: cover;
}

.input{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 60px;
  padding-right: 20px;
}
.form{
  width: 450px;
  height: 445px;
}
.form__title{
  line-height: 80px;
  font-size: 40px;
  color: #BDAE82;
}

.form__group{
  position: relative;
}


.form__label{
position: absolute;
top: 0;
z-index: 0;
color: #BDAE82;
transition: 0.3s;
font-size: 20px;
}

.form__input{
  width: 100%;
  border: solid 1px #BDAE82;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  color: #BDAE82;
  line-height: 50px;
  margin-top: 20px;
}
.form__input1{
  width: 100%;
  border: solid 1px #BDAE82;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  color: #BDAE82;
  margin-top: 20px;
  padding-bottom: 10px;
}
.form__button{
  width: 220px;
  height: 55px;
  margin-top: 20px;
  text-align: center;
  background-color: #BDAE82;
  font-size: 20px;
  cursor: pointer;
}

::placeholder{
  color: #BDAE82;
  font-size: 20px;
  vertical-align: top;
}

textarea{
  padding: 3px 0 0 10px;
  font-size: 20px;
}

input{
  font-size: 20px;
  padding-left: 10px;
  text-align: start;
  padding-bottom: 10px;
}

.footer{
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.copyright{
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.school{
  font-size: 20px;
  line-height: 50px;
  max-width: 220px;
}

.link{
  max-width: 200px;
  line-height: 50px;
}
.line1{
   width: 350px;
   text-align: left;
   margin-left: 0;
}
.line2{
   width: 350px;
   text-align: left;
   margin-right: 0;
}

@media (max-width: 768px){
.container{
  max-width: 760px;

}
.portfolio__items{
   grid-template-columns: auto;
   /* flex-direction: column; */
   margin-left: auto;
   margin-right: auto;
 }
 .video__item{
    max-width: 100vh;
 }
 .buttons {
   display: flex;
   margin-top: 60px;
   max-width: auto;
   height: 55px;
   width: 720px;
}
.price__list{
   flex-direction: column;
}
.variants{
   margin-bottom: 50px;
}

.line1{
   width: 175px;
   text-align: left;
   margin-left: 0;
}
.line2{
   width: 175px;
   text-align: left;
   margin-right: 0;
}
.header__top{
   margin-right: 20px;
   margin-left: 20px;
}
.header__content{
   line-height: 24.2px;
   font-weight: normal;
   font-size: 20px;
}
.header__title{
   font-size: 36px;
   font-weight: normal;
}
.variant{
   margin-bottom: 50px;
}

.play__pause{
   width: 75px;
   height: 75px;
   top: 796%;
   left: 45%;
}
.form__title{
   text-align: center;
}
textarea{
   width: 100%;
}

.input{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form__button{
   margin-left: 25%;
}
.footer{
   flex-direction: column;
   align-items: center;
   margin-top: 28px;
   padding: 0;
   justify-content: normal
}
.copyright{
   line-height: 24.2px;
   height: 25px;
   font-weight: 400;
}
.school{
   line-height: 24.2px;
   height: 25px;
   font-weight: 400;
}
.link{
   line-height: 24.2px;
   height: 25px;
}
.skills__content{
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   margin: 20px 20px;
   padding: 20px 20px;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}
}